*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container{
    width: 90%;
    border: 3px solid;
    margin: 0 auto;
    transition:propertly ;
}

.container:hover{
 /*justify-content: flex-end;*/

}


.element{
    width: 200px;
    height: 200px;
    background: tomato;
    margin: 20px;

/*transition: clip-path 1s,
        transform 1s;*/
clip-path: circle(80%);

transition-property: clip-path,
transform, background-color; 
transition-duration: 300ms;
transition-timing-function:cubit-bezie
r(0,1.03,1,.18);
/* ease[defecto]
    ease-in
    ease-out
    ease-in-out
    linear
*/


}

.container:hover .element{
    clip-path: circle(20%);
    transform: translate(100%);
    background: #000;
}