/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #8de9f0; /* Fondo más oscuro */
    margin: 0;
    padding: 0;
    color: #fff; /* Texto en blanco */
}

header {
    background-color: #1f2833; /* Cabecera más oscura */
    color: #66fcf1; /* Texto en color turquesa */
    text-align: center;
    padding: 40px 0;
}

header h1 {
    font-size: 36px;
    margin: 0;
    font-weight: 600;
}

header p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
}

nav {
    background-color: #1f2833;
    color: #66fcf1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #66fcf1;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease; /* Transición de color suave */
}

nav a:hover {
    color: #45a29e; /* Cambia de color al pasar el ratón */
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #100b0f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: #c5c6c7; /* Texto en contenido principal */
}

section {
    margin-bottom: 30px;
}

/* Estilos específicos para secciones */
#presentacion h2,
#trabajos h2,
#habilidades h2 {
    font-size: 28px; /* Títulos más grandes */
    font-weight: 700; /* Texto más grueso */
    color: #45a29e; /* Color turquesa */
}

#trabajos ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#trabajos li {
    margin-bottom: 10px;
}

#trabajos a {
    text-decoration: none;
    color: #66fcf1; /* Color turquesa */
    font-weight: 500;
    font-size: 18px; /* Texto de trabajo más grande */
    transition: color 0.3s ease; /* Transición de color suave */
}

#trabajos a:hover {
    color: #45a29e; /* Cambia de color al pasar el ratón */
}

#habilidades ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#habilidades li {
    font-size: 18px; /* Tamaño de texto de habilidades */
}

footer {
    background-color: #1f2833;
    color: #66fcf1;
    text-align: center;
    padding: 20px 0;
}
