*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:rgb(88, 146, 233);
    font-family: sans-serif;
}

h1{
    font-family: Serif;
    color: rgb(248, 245, 250);
    text-align: center;
}

h2{
    font-family: 'Gill Sans';
    color: rgb(255, 255, 255);
    text-align: center;
}

.contenedor{
    margin: 16px auto;
    width: 300px;
}

table{
    tab-size: center;
    color: azure;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    
}

th, td{
    padding: 20px;
}

thead{
    background: #0285ff;
    border-bottom: solid 5px #0a1d19;
    color: white;
}

tr{
    background: #a6b6c0;
}

td:hover {
    background: #e26767;
}

td:nth-child(even){
    background: rgb(150, 177, 206);
}





