*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(240, 202, 228);
    font-family: sans-serif;
}

.contenedor{
    margin: 150px auto;
    width: 600px;
}

table{
    background: white;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}

th, td{
    padding: 20px;
}

thead{
    background: #8fadbb;
    border-bottom: solid 5px #bee6dd;
    color: white;
}

tr:nth-child(even){
    background: rgb(171, 221, 224);
}

tr:hover td{
    background: #d0f5ea;
    color: white;
}

h1{
    font-family: sans-serif;
    font-size: 20px;
    color: white;
}

h2{
font-family:Arial, Helvetica, sans-serif;
font-size: 15px;
color: white;
}
